<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.molargiksoftware.Mygra.weatherRefresh</string>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.molargiksoftware.Mygra</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mygra</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.molargiksoftware.Mygra.viewingMigraine</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.circle.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Migraine</string>
			<key>UIApplicationShortcutItemType</key>
			<string>mygra://new-migraine</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>stop.circle.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>End Ongoing Migraine</string>
			<key>UIApplicationShortcutItemType</key>
			<string>mygra://end-ongoing</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>calendar</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Calendar</string>
			<key>UIApplicationShortcutItemType</key>
			<string>mygra://calendar</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>sparkles</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Migraine Assistant</string>
			<key>UIApplicationShortcutItemType</key>
			<string>mygra://assistant</string>
		</dict>
	</array>
	<key>NSWeatherUsageDescription</key>
	<string>Mygra uses weather data to provide personalized migraine insights.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
